.header {
    background-color: #AA0000;
}

.headertitle {
    font-size: xx-large;
    color: #FFFFFF;
    padding:  10px 10px;
    text-align: center;
}

.mynavbar a:visited {
    color: #FFFFFF;
    margin: 0 0;
    background-color: #AA0000;
}
.mynavbar a {
    color: #FFFFFF;
    margin: 0 0;
    background-color: #AA0000;
}

.mynavbar a.visited {
    color: #FFFFFF;
}